.SidebarChannel:hover>h4{
    color: white;
    background-color: #40464b;
}
.SidebarChannel>h4{
    display: flex;
    padding-left: 15px;
    align-items: center;
    color: gray;
    cursor: pointer;
}
.sidebarChannel_hash{
    font-size: 30px;
    padding: 8px;
}